:root{
    --default-navbar-div-width: 480px;
}
.top-navbar{
    position: absolute;
        top:0%;
        left: 0%;

    box-sizing: border-box;
    width: 100%;
    height: 60px;

    display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

    background-color: gray;
}
.search-box{
    width: 100%;
    display: flex; 
        justify-content: flex-start;
        gap: 5px;
    --search-button-width: 70px;
}
div{
    box-sizing: border-box;
    width: 20%;
}
#search-bar-input-field{
    position: relative;

    box-sizing: border-box;
        height: 40px;
        width: calc(100% - var(--search-button-width));

    font-size: large;
    border-radius: 15px;
    border-style: hidden;
    outline: none;

    
}
#search-button{
    box-sizing: border-box;
    height: 40px;
    width: var(--search-button-width);

    display: flex;
        flex-direction: column;
        align-items: center;
    
    border-radius: 15px;
    border-style: hidden;
}
#search-button:hover{
    background-color: lightgray;
}
.side-menu-button{
    position: absolute;
    box-sizing: border-box;
}
#side-menu-toggle{
    display: none;
}