.top-navbar{
    width: 100%;
    top: 0%;
    left:  0%;
    height: 60px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: darkgray;
}
.search-box{
    width: 100%;
    display: flex; 
    justify-content: flex-start;
}
div{
    box-sizing: border-box;
    width: 20%;
}
#search-bar-input-field{
    outline: none;
    font-size: large;
    border: 0;
    margin: 0;
    
}
.side-menu-button{
    position: absolute;
    box-sizing: border-box;
}
#side-menu-toggle{
    display: none;
}